<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Data</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/weather.css' %}">
    <script src="{% static 'js/weather.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h1>Every 5 Minutes Weather</h1>
    <div class="weather-container">
        <div class="weather-list">
            {% if weather_data %}
                <!-- Most recent update -->
                <div class="additional-info">
                    <p>{{ weather_data.0.timestamp|date:"l, F j, Y H:i" }}</p>
                    <p>Mutsu, Japan</p>
                </div>
                <div class="current-weather">
                    <div class="location-info"></div>
                    <div class="main-weather-info">
                        <img src="{% static 'images/' %}{{ weather_data.0.icon }}" alt="weather icon">
                        <h2>{{ weather_data.0.current_temp }} °C</h2>
                        <h4>Feels Like: {{ weather_data.0.feels_like }}°</h4>
                        <h4>{{ weather_data.0.weather_description }}</h4>
                    </div>
                    <div class="additional-info"></div>
                </div>
                <!-- Historic updates -->
                <div class="forecast">
                    {% for data in weather_data|slice:"1:" %}
                        <div class="forecast-item">
                            <h4>{{ data.timestamp|date:"H:i" }}</h4>
                            <img src="{% static 'images/' %}{{ data.icon }}" alt="weather icon">
                            <p>{{ data.current_temp }}°C</p>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>No weather data available.</p>
            {% endif %}
        </div>
    </div>
</div>
</body>
</html>
